@model List<ResultBookingDto>
@{
    ViewData["Title"] = "Kiralama Talepleri";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th> 
        <th>Araç Marka - Model</th>
        <th>Teslim Alınacağı Yer</th>
        <th>Teslim Bırakılacağı Yer</th>
        <th>Alınacağı Tarih</th>
        <th>Bırakılacağı Tarih</th>
        <th>Onay Durumu</th>
        <th>Onayla</th>
        <th>İptal Et</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Cars.Brand.BrandName @item.Cars.ModelName </td>
            <td>@item.BookingPickUp </td>
            <td>@item.BookingDropOf </td>
            <td>@item.BookingStartDate.ToString("dd/MM/yyyy") </td>
            <td>@item.BookingLastDate.ToString("dd/MM/yyyy") </td>
            <td id="booking-status-@item.BookingId"><span class="badge bg-info text-white">@item.BookingStatus</span></td>
                <td>
                    <form action="@Url.Action("CancelBooking", "AdminBooking")" method="post">
                    <input type="hidden" name="Id" value="@item.BookingId" />
                        <button type="submit" class="btn btn-danger">İptal Et</button>
                    </form>
                </td>
            <td>
                <form action="@Url.Action("SuccesBooking", "AdminBooking")" method="post">
                    <input type="hidden" name="Id" value="@item.BookingId" />
                    <button type="submit" class="btn btn-success">Onayla</button>
                </form>
            </td>
            </tr>
       
    }
</table>

