@model List<ResultProcessDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<div class="alert alert-warning lead" role="alert">
    3'den Fazla Giriş Yapmayınız. Anasayfa da Görünümde Problemlere Yol Açabilir.
</div>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td><a asp-action="DeleteProcess" asp-route-id="@item.ProcessId" class="btn btn-danger"> <i class="fa fa-trash"></i> Sil</a></td>
            <td><a asp-action="UpdateProcess" asp-route-id="@item.ProcessId" class="btn btn-info"> <i class="fa fa-pen"></i> Güncelle</a></td>
        </tr>
    }
</table>

<a asp-action="CreateProcess" asp-controller="AdminProcess" class="btn btn-primary mt-1"><i class="fa fa-plus-circle"></i> Yeni İşlemler Ekle</a>


